doctype html    
html
    head
        title sss
    body
        h1 Hello jade
        h2= name
        = age
        hr
        
        - for(var i =0; i<10; i++){
            p   
                a(href="http://naver.com") NAVER + #{i}
        - }

        
