doctype html
html
    head
        meta(charset="utf-8")
    body
        form(action="/" method="post")
            p  
                input(type="text" name="title" placeholder="title 입력")
            p
                textarea(name="des" placeholder="description 입력")
            p
                input(type="submit")