doctype html
html
    head
        meta(charset="utf-8")
        title template testing
    body 
        h1 이름 : 구양하
        h2 나이 : 26세
        ul skills
            li html & css
            li javascript
            li node.js
            li react.js
        p= time 
    
    

