doctype html
html
    head
        meta(chatest="utf-8")
    body
        form(action="/resume_receive" method="post")
            p
                input(type="text" name="name" placeholder="이름을 입력하세요")
            p
                textarea(name="des" placeholder="내용을 입력하세요")
            
            input(type="submit")

            